.italic {
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: "dashiell-fine", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #0D0A0B;
}

body {
  width: 100%;
  height: 100dvh;
  display: flex;
  background: #0D0A0B;
  overflow: hidden;
  flex-direction: column;
  padding: 0.625rem;
}

#ball {
  background: #D9C9BA;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 10;
  cursor: none;
  pointer-events: none;
}

header {
  width: 100%;
  height: 15dvh;
  background: #0D0A0B;
  padding-block-end: 1rem;
}
header nav {
  width: 100%;
  height: 100%;
  background: #D9C9BA;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 1.25rem;
}
header nav .logo-wrap {
  width: 6rem;
  display: grid;
  place-items: center;
}
header nav .logo-wrap .logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header nav ul {
  display: flex;
  list-style: none;
  padding-inline-end: 1rem;
}
header nav ul li {
  margin-inline: 0.625rem;
}
header nav ul li .head-tab {
  color: #0D0A0B;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s ease;
  border: none;
  background: none;
}
header nav ul li .head-tab:hover {
  color: #8d7800;
}

main {
  width: 100%;
  height: 82vh;
  gap: 1rem;
}
main .block {
  transition: all 200ms ease-in-out;
  border-radius: 1rem;
}
main .block:hover {
  transform: scale(0.99);
  box-shadow: 0 0 15px rgb(172, 172, 172);
}

.name-block {
  grid-area: name;
  background: #D9C9BA;
  display: flex;
  align-items: end;
  padding: 2.5rem;
  font-size: 3.75rem;
  font-family: "rafaella", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.links-block {
  grid-area: links;
  background: #A6998A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  text-decoration: none;
  color: #0D0A0B;
  font-size: 1rem;
  font-weight: bold;
}
.links-block .link {
  color: #0D0A0B;
  transition: color 0.3s ease;
}
.links-block .link:hover {
  color: #80743f;
}

.imgwrap {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.imgwrap .big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 5%;
}

.title-block {
  grid-area: bio;
  background: #D9C9BA;
  font-size: 3.125rem;
  padding: 8.125rem 1rem 1rem 1rem;
  font-weight: bold;
}

.work {
  grid-area: work;
  background: #D9C9BA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.125rem;
  padding: 1.875rem;
  transition: color 0.3s ease;
  border: none;
}
.work:hover > * {
  color: #80743f !important;
}
.work .first1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3.5rem;
}
.work .first1 .italic1 {
  font-style: italic;
  padding-right: 3.75rem;
  transition: color 0.3s ease;
}
.work .second1 {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 3.125rem;
  padding-block-start: 4.375rem;
  padding-inline-end: 1.875rem;
}

.contact {
  grid-area: contactme;
  display: flex;
  flex-direction: column;
  background: #4A4B46;
  color: #D9C9BA;
  font-size: 3.125rem;
  position: relative;
  border: none;
}
.contact:hover > * {
  color: #8d7800 !important;
}
.contact .first {
  width: 100%;
  height: 19dvh;
  padding: 1rem;
  text-align: left;
}
.contact .first .italic1 {
  font-style: italic;
  transition: color 0.3s ease;
}
.contact .second {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1.25rem;
  transition: all 0.3s ease;
  color: #D9C9BA;
}

.about {
  grid-area: about;
  background: #D9C9BA;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  flex-direction: column;
  text-align: left;
}
.about:hover .italic2 {
  color: #8d7800;
}
.about .italic2 {
  margin-top: 1rem;
  font-style: italic;
  transition: color 0.3s ease;
}

/*# sourceMappingURL=styles.css.map */
