.remove-class {
	transform: scale(1) translate(0, 0);
	opacity: 1;
	animation-name: scaleout;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.remove-class::-webkit-scrollbar {
	display: none;
}

.add-class::-webkit-scrollbar {
	display: none;
}

.add-class {
	transform: scale(0) translate(100%, 100%);
	opacity: 0;
	animation-name: scalein;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

@keyframes scaleout {
	0% {
		transform: scale(1) translate(0, 0);
		opacity: 1;
		overflow: hidden;
	}
	100% {
		transform: scale(0) translate(100%, 100%);
		opacity: 0;
	}
}

@keyframes scalein {
	0% {
		transform: scale(0) translate(100%, 100%);
		opacity: 0;
		overflow: hidden;
	}
	100% {
		transform: scale(1) translate(0, 0);
		opacity: 1;
		overflow: auto;
	}
}
